<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>电话</h3>
    </header>
    <p>
        <span class="label">主要:</span>
        <span>18907990000</span>
    </p>
    <p>
        <span class="label">下班后:</span>
        <span>18842630000</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>电子邮件</h3>
    </header>
    <p>
        <span class="label">支持:</span>
        <span><a href="mailto:longf@usc.edu">longf@usc.edu</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>地址</h3>
    </header>
    <p>
        The Lorenzo, Apt#4181<br />
        325 W. Adams Blvd<br />
        Los Angeles<br />
        CA 90007
    </p>
</section>